In [4]:
# Import required libraries
import pandas as pd  # Main library for data manipulation and analysis
# Load the three datasets using pd.read_csv()
# This function reads CSV files and converts them into pandas DataFrames
customers = pd.read_csv('customers9.csv')
products = pd.read_csv("products9.csv")
sales = pd.read_csv("sales9.csv")
# Display basic information about what we've loaded
# len() gives us the number of rows in each DataFrame
print(f"‚úÖ Successfully loaded:")
print(f"   - {len(customers)} customers")      # Total number of customer records
print(f"   - {len(products)} products")        # Total number of products in catalog
print(f"   - {len(sales)} sales transactions") # Total number of sales transactions

# Display the first few rows of each dataset to understand the structure
# .head(n) shows the first n rows of a DataFrame - useful for data exploration
print(f"\nüëÄ First few rows of each dataset:")
print(f"\nCustomers:")
print(customers.head(3))  # Show first 3 rows of customer data
print(f"\nProducts:")
print(products.head(3))   # Show first 3 rows of product data
print(f"\nSales:")
print(sales.head(3))      # Show first 3 rows of sales data

‚úÖ Successfully loaded:
   - 100 customers
   - 60 products
   - 150 sales transactions

üëÄ First few rows of each dataset:

Customers:
   customer_id first_name last_name  age state  income registration_date  \
0            1       John     Smith   34    CA   75000        2022-01-15
1            2      Sarah   Johnson   28    NY   82000        2022-01-22
2            3    Michael     Brown   45    TX   95000        2022-02-03

                     email
0     john.smith@email.com
1  sarah.johnson@email.com
2  michael.brown@email.com

Products:
   product_id                   product_name       category  price  \
0           1  Wireless Bluetooth Headphones    Electronics  79.99
1           2         Organic Cotton T-Shirt       Clothing  24.99
2           3   Stainless Steel Water Bottle  Home & Garden  19.99

  launch_date      brand
0  2021-03-15  AudioTech
1  2021-04-20    EcoWear
2  2021-05-10  HydroLife

Sales:
   sale_id  customer_id  product_id     transaction_date  quantity  \
0        1            1           1  2022-02-10 14:30:00         1
1        2            2           3  2022-02-15 10:15:00         2
2        3            3           5  2022-02-20 16:45:00         1

   total_amount
0         79.99
1         39.98
2         34.99

In [5]:
# =============================================================================
# PART 1: DATETIME OPERATIONS
# =============================================================================
# DateTime operations are crucial for time-based analysis in business data
# We'll convert text dates to proper datetime objects and extract useful components

print("\n" + "=" * 60)
print("PART 1: DATETIME OPERATIONS")
print("=" * 60)

print("\nüïê 1.1 Converting and Working with Dates")

# Convert date columns from strings to pandas datetime objects
# pd.to_datetime() is the main function for converting various date formats
# Once converted, we can perform date arithmetic and extract components
print("Converting date columns to datetime...")
customers['date_time'] = pd.to_datetime(customers['registration_date'])
print(customers['date_time'])
products['date_time'] = pd.to_datetime(products['launch_date'])
print(products['date_time'])
sales['date_time'] = pd.to_datetime(sales['transaction_date'])
print(sales['date_time'])

print("‚úÖ All date columns converted successfully")

============================================================
PART 1: DATETIME OPERATIONS
============================================================

üïê 1.1 Converting and Working with Dates
Converting date columns to datetime...
0    2022-01-15
1    2022-01-22
2    2022-02-03
3    2022-02-14
4    2022-02-28
        ...
95   2023-12-08
96   2023-12-15
97   2023-12-22
98   2023-12-29
99   2024-01-05
Name: date_time, Length: 100, dtype: datetime64[ns]
0    2021-03-15
1    2021-04-20
2    2021-05-10
3    2021-06-01
4    2021-06-15
5    2021-07-08
6    2021-07-22
7    2021-08-05
8    2021-08-18
9    2021-09-02
10   2021-09-16
11   2021-10-01
12   2021-10-15
13   2021-11-01
14   2021-11-12
15   2021-11-28
16   2021-12-10
17   2021-12-22
18   2022-01-08
19   2022-01-20
20   2022-02-03
21   2022-02-17
22   2022-03-01
23   2022-03-15
24   2022-03-28
25   2022-04-10
26   2022-04-22
27   2022-05-05
28   2022-05-18
29   2022-06-01
30   2022-06-14
31   2022-06-28
32   2022-07-10
33   2022-07-23
34   2022-08-05
35   2022-08-18
36   2022-09-01
37   2022-09-14
38   2022-09-27
39   2022-10-10
40   2022-10-23
41   2022-11-05
42   2022-11-18
43   2022-12-01
44   2022-12-14
45   2022-12-27
46   2023-01-09
47   2023-01-22
48   2023-02-04
49   2023-02-17
50   2023-03-02
51   2023-03-15
52   2023-03-28
53   2023-04-10
54   2023-04-23
55   2023-05-06
56   2023-05-19
57   2023-06-01
58   2023-06-14
59   2023-06-27
Name: date_time, dtype: datetime64[ns]
0     2022-02-10 14:30:00
1     2022-02-15 10:15:00
2     2022-02-20 16:45:00
3     2022-02-25 11:20:00
4     2022-03-01 13:10:00
              ...
145   2024-02-15 15:20:00
146   2024-02-20 11:30:00
147   2024-02-25 13:45:00
148   2024-03-01 16:15:00
149   2024-03-05 10:30:00
Name: date_time, Length: 150, dtype: datetime64[ns]
‚úÖ All date columns converted successfully

In [7]:
# Extract useful components from datetime objects using the .dt accessor
# The .dt accessor gives us access to datetime-specific methods and properties
print("\nExtracting datetime components...")   
# Extract year (2022, 2023, etc.)
customers['Year'] = customers['date_time'].dt.year
products['Year'] = products['date_time'].dt.year
sales['Year'] = sales['date_time'].dt.year
print(customers['Year'])
print(products['Year'])
print(sales['Year'])

# Extract month number (1-12)
customers['Month'] = customers['date_time'].dt.month
products['Month'] = products['date_time'].dt.month
sales['Month'] = sales['date_time'].dt.month
print(customers['Month'])
print(products['Month'])
print(sales['Month'])

# Day of week (Monday=0, Sunday=6)
customers['Day of Week'] = customers['date_time'].dt.dayofweek
products['Day of Week'] = products['date_time'].dt.dayofweek
sales['Day of Week'] = sales['date_time'].dt.dayofweek
print(customers['Day of Week'])
print(products['Day of Week'])
print(sales['Day of Week'])

# Day name as text (Monday, Tuesday, etc.)
customers['Day_Name'] = customers['date_time'].dt.day_name()
products['Day_Name'] = products['date_time'].dt.day_name()
sales['Day_Name'] = sales['date_time'].dt.day_name()
print(customers['Day_Name'])
print(products['Day_Name'])
print(sales['Day_Name'])

print("‚úÖ Extracted: year, month, day of week, and day name")

Extracting datetime components...
0     2022
1     2022
2     2022
3     2022
4     2022
      ...
95    2023
96    2023
97    2023
98    2023
99    2024
Name: Year, Length: 100, dtype: int32
0     2021
1     2021
2     2021
3     2021
4     2021
5     2021
6     2021
7     2021
8     2021
9     2021
10    2021
11    2021
12    2021
13    2021
14    2021
15    2021
16    2021
17    2021
18    2022
19    2022
20    2022
21    2022
22    2022
23    2022
24    2022
25    2022
26    2022
27    2022
28    2022
29    2022
30    2022
31    2022
32    2022
33    2022
34    2022
35    2022
36    2022
37    2022
38    2022
39    2022
40    2022
41    2022
42    2022
43    2022
44    2022
45    2022
46    2023
47    2023
48    2023
49    2023
50    2023
51    2023
52    2023
53    2023
54    2023
55    2023
56    2023
57    2023
58    2023
59    2023
Name: Year, dtype: int32
0      2022
1      2022
2      2022
3      2022
4      2022
       ...
145    2024
146    2024
147    2024
148    2024
149    2024
Name: Year, Length: 150, dtype: int32
0      1
1      1
2      2
3      2
4      2
      ..
95    12
96    12
97    12
98    12
99     1
Name: Month, Length: 100, dtype: int32
0      3
1      4
2      5
3      6
4      6
5      7
6      7
7      8
8      8
9      9
10     9
11    10
12    10
13    11
14    11
15    11
16    12
17    12
18     1
19     1
20     2
21     2
22     3
23     3
24     3
25     4
26     4
27     5
28     5
29     6
30     6
31     6
32     7
33     7
34     8
35     8
36     9
37     9
38     9
39    10
40    10
41    11
42    11
43    12
44    12
45    12
46     1
47     1
48     2
49     2
50     3
51     3
52     3
53     4
54     4
55     5
56     5
57     6
58     6
59     6
Name: Month, dtype: int32
0      2
1      2
2      2
3      2
4      3
      ..
145    2
146    2
147    2
148    3
149    3
Name: Month, Length: 150, dtype: int32
0     5
1     5
2     3
3     0
4     0
     ..
95    4
96    4
97    4
98    4
99    4
Name: Day of Week, Length: 100, dtype: int32
0     0
1     1
2     0
3     1
4     1
5     3
6     3
7     3
8     2
9     3
10    3
11    4
12    4
13    0
14    4
15    6
16    4
17    2
18    5
19    3
20    3
21    3
22    1
23    1
24    0
25    6
26    4
27    3
28    2
29    2
30    1
31    1
32    6
33    5
34    4
35    3
36    3
37    2
38    1
39    0
40    6
41    5
42    4
43    3
44    2
45    1
46    0
47    6
48    5
49    4
50    3
51    2
52    1
53    0
54    6
55    5
56    4
57    3
58    2
59    1
Name: Day of Week, dtype: int32
0      3
1      1
2      6
3      4
4      1
      ..
145    3
146    1
147    6
148    4
149    1
Name: Day of Week, Length: 150, dtype: int32
0     Saturday
1     Saturday
2     Thursday
3       Monday
4       Monday
        ...
95      Friday
96      Friday
97      Friday
98      Friday
99      Friday
Name: Day_Name, Length: 100, dtype: object
0        Monday
1       Tuesday
2        Monday
3       Tuesday
4       Tuesday
5      Thursday
6      Thursday
7      Thursday
8     Wednesday
9      Thursday
10     Thursday
11       Friday
12       Friday
13       Monday
14       Friday
15       Sunday
16       Friday
17    Wednesday
18     Saturday
19     Thursday
20     Thursday
21     Thursday
22      Tuesday
23      Tuesday
24       Monday
25       Sunday
26       Friday
27     Thursday
28    Wednesday
29    Wednesday
30      Tuesday
31      Tuesday
32       Sunday
33     Saturday
34       Friday
35     Thursday
36     Thursday
37    Wednesday
38      Tuesday
39       Monday
40       Sunday
41     Saturday
42       Friday
43     Thursday
44    Wednesday
45      Tuesday
46       Monday
47       Sunday
48     Saturday
49       Friday
50     Thursday
51    Wednesday
52      Tuesday
53       Monday
54       Sunday
55     Saturday
56       Friday
57     Thursday
58    Wednesday
59      Tuesday
Name: Day_Name, dtype: object
0      Thursday
1       Tuesday
2        Sunday
3        Friday
4       Tuesday
         ...
145    Thursday
146     Tuesday
147      Sunday
148      Friday
149     Tuesday
Name: Day_Name, Length: 150, dtype: object
‚úÖ Extracted: year, month, day of week, and day name

In [10]:
# Find the date range of our sales data by using min() and max()
# This helps us understand the time span our analysis covers
sales_range = max(sales['date_time']) - min(sales['date_time'])

print("\nüîç 1.2 Basic Time Analysis")
print(sales_range)

üîç 1.2 Basic Time Analysis
753 days 20:00:00

In [26]:
# Find the busiest day of the week by counting transactions
# .value_counts() counts occurrences of each unique value
# Count transactions for each day name   

day_counts = sales['Day_Name'].value_counts()

busiest_day = day_counts.index[0]             # Get the day with most transactions (first in sorted list)
busiest_count = day_counts.iloc[0]            # Get the count for that day

# Display all days ranked by transaction count for complete picture
print(f"Day Counts:\n",day_counts)

print(f"\nBusiest Day:", busiest_day)

Day Counts:
 Day_Name
Friday       24
Tuesday      22
Thursday     21
Sunday       21
Saturday     21
Wednesday    21
Monday       20
Name: count, dtype: int64

Busiest Day: Friday

In [31]:
# Count sales by year to see yearly trends   
# Count transactions by year, sort chronologically  use .sort_index()

yearly_sales = sales['Year'].value_counts()


print(f"\nSales by year:")
print(yearly_sales.sort_index())

Sales by year:
Year
2022    65
2023    72
2024    13
Name: count, dtype: int64

In [ ]:
# =============================================================================
# PART 2: GROUPBY AND AGGREGATION
# =============================================================================
# GroupBy operations allow us to split data into groups and perform calculations
# on each group separately. This is essential for analyzing patterns and trends.

In [39]:
# Group products by category and calculate average price for each category
# .groupby() splits the data into groups based on the 'category' column
# .mean() calculates the average for each group
# .round(2) rounds to 2 decimal places for currency formatting
# .sort_values(ascending=False) sorts from highest to lowest price
grouped_products = round(products.groupby('category')['price'].mean().sort_values(ascending=False), 2)
print(grouped_products)

# Loop through each category and its average price             
# Format with dollar sign 
for category, price in grouped_products.items():
        print(f"\nCategory: {category}, Average Price: ${price:.2f}")
    
#print(f"${grouped_products}")

category
Sports & Outdoors    105.90
Electronics           59.99
Clothing              52.24
Accessories           35.07
Home & Garden         30.16
Name: price, dtype: float64

Category: Sports & Outdoors, Average Price: $105.90

Category: Electronics, Average Price: $59.99

Category: Clothing, Average Price: $52.24

Category: Accessories, Average Price: $35.07

Category: Home & Garden, Average Price: $30.16

In [42]:
# Count how many products exist in each category
# .value_counts() counts occurrences of each unique category
num_products = products.groupby('category')['category'].value_counts()
print(num_products)

category
Accessories          12
Clothing             12
Electronics          13
Home & Garden        12
Sports & Outdoors    11
Name: count, dtype: int64

In [43]:
# Group customers by state and calculate average age
# This shows us the demographic profile of customers in different regions
customers_by_state = customers.groupby('state')['age'].mean()
print(customers_by_state)

state
CA    34.10
FL    39.00
IL    37.25
NY    36.50
TX    38.30
Name: age, dtype: float64

In [32]:
# Find customers with the most purchases (transaction frequency)
# .groupby().size() counts the number of transactions per customer
# This is different from sum() - it counts rows, not values
customer_purchase_counts = sales.groupby('customer_id').size().sort_values(ascending=False)
top_buyer_id = customer_purchase_counts.index[0]        # Customer ID with most purchases
top_buyer_purchases = customer_purchase_counts.iloc[0]  # Number of purchases by top customer
print(f"\nCustomer with most purchases: Customer #{top_buyer_id} ({top_buyer_purchases} purchases)")

Customer with most purchases: Customer #1 (2 purchases)